body{
    margin:0px;
}

main{
    margin-left:20px;
}

footer{
    text-align:center;
    background-color: #71ac6c;
    padding:12px;
    margin-top:30px;
}

nav {
    background-color: #3bb900;
    overflow: hidden;
}
.nav-logo{
    width:40px;
}

.nav-element, .nav-logo-element{
    float: left;
    background-color: #3bb900;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
.nav-logo-element{
    height:40px;
}
.nav-element{
    padding:10px;
    height:20px;
}
nav a:hover {
    background-color: #0d9b00;
    color: black;
}
nav a.active {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
}

.ingredientsList, .ingredientsList td {
    border: 1px solid #333;
    border-collapse: collapse;
    text-align:center;
}

.ingredientsList td{
    padding:4px;
}

.ingredientsList thead {
    background-color: #3bb900;
    color: #000000;
}