{% extends 'applipizza/base.html' %}

{% block title %}
Modification d'une pizza
{% endblock %}

{% block content %}
<h2>Modification d'une Pizza :</h2>
{% if user.is_authenticated %}
    <div class="formDiv">
        <form action="/pizzas/{{pizza.idPizza}}/updated" method="post">
            {% csrf_token %}
            {{ form.as_div}}
            <input class="btn submitBtn clickable" type="submit" value="Envoyer">
        </form>
    </div>
{% else %}
    <p>Vous n'avez pas le droit d'acceder a cette page</p>
{% endif %}


{% endblock %}