{% extends 'applipizza/base.html' %}

{% block title %}
Creation d'un ingredient
{% endblock %}

{% block content %}
<h2>Creation d'un ingredient :</h2>
{% if user.is_authenticated %}
    <div class="formDiv">
        <form action="/ingredients/create/" method="post">
            {% csrf_token %}
            {{ form.as_div}}
            <input class="btn submitBtn clickable" type="submit" value="Envoyer">
        </form>
    </div>
{% else %}
    <p>Vous n'avez pas le droit d'acceder a cette page</p>
{% endif %}

{% endblock %}