{% extends 'applipizza/base.html' %}
{% load static %}

{% block title %}
Les ingredients
{% endblock %}

{% block content %}
<h2>Voici nos {{ ingredients|length }} ingredients :</h2>
<div class="elementGrid">
    {% for ing in ingredients %}
        <div class="elementDiv">
            <img class="elementImage" src="{% static 'applipizza/img/ingredient_default.png' %}">
            <h4>{{ ing }}</h4>
            <a href="/ingredients/{{ing.idIngredient}}/update"><button class="btn modifBtn clickable">modifier</button></a>
            <a href="/ingredients/{{ing.idIngredient}}/delete"><button class="btn deleteBtn clickable">supprimer</button></a>
        </div>
    {% endfor %}
</div>

{% endblock %}