{% extends 'applipizza/base.html' %}

{% block title %}
Details d'une pizza
{% endblock %}

{% block content %}
    <h2>Voici notre pizza :</h2>
    <p>{{pizza}}</p>
    {% if composition|length != 0 %}
        <h2>Les {{ composition|length }} Ingredients de la {{pizza.nomPizza}} : </h2>
        <table class="elementsList">
            <thead>
                <td>Ingredients</td>
                <td>Quantite</td>
                {% if user.is_authenticated %}
                    <td>Supression</td>
                {% endif %}
            </thead>
            {% for ingredient in composition %}
            <tr>
                <td>{{ ingredient.ingredient }}</td>
                <td>{{ ingredient.quantite }}</td>
                {% if user.is_authenticated %}
                    <td><a href="/pizzas/{{pizza.idPizza}}/deleteIngredient/{{ingredient.idComposition}}"><button class="btn deleteBtn clickable">Supprimer</button></a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>La pizza ne comporte aucun ingredient</h2>
    {% endif %}
    {% if user.is_authenticated %}
        <br>
        <h2>Ajouter un Ingredient : </h2>
        <div class="formDiv">
            <form action="/pizzas/{{pizza.idPizza}}/addIngredient/" method="post">
                {% csrf_token %}
                {{form}}
                <input class="btn submitBtn clickable" type="submit" value="Envoyer">
            </form>
        </div>           
    {% endif %}
    
{% endblock %}