{% extends 'applipizza/base.html' %}
{% load static %}

{% block title %}
Les pizza
{% endblock %}

{% block content %}
<h2>Voici nos {{ pizzas|length }} pizzas :</h2>
<div class="elementGrid">
    {% for piz in pizzas %}
        <div class="elementDiv">
            <img class="elementImage" src="{% static 'applipizza/img/pizza_default.jpg' %}">
            <h4>{{ piz }}</h4>
            <a href="/pizzas/{{piz.idPizza}}/"><button class="btn detailsBtn clickable">Details</button></a>
            <a href="/pizzas/{{piz.idPizza}}/update"><button class="btn modifBtn clickable">Modifier</button></a>
            <a href="/pizzas/{{piz.idPizza}}/delete"><button class="btn deleteBtn clickable">Supprimer</button></a>
        </div>
    {% endfor %}
</div>
{% endblock %}