{% extends 'applipizza/base.html' %}

{% block title %}
Details d'une pizza
{% endblock %}

{% block content %}
    <h2>Voici notre pizza :</h2>
    <p>{{pizza}}</p>
    {% if composition|length != 0 %}
        <h2>Les {{ composition|length }} Ingredients de la {{pizza.nomPizza}}</h2>
        <table class="elementsList">
            <thead>
                <td>Ingredients</td>
                <td>Quantite</td>
            </thead>
            {% for ingredient in composition %}
            <tr>
                <td>{{ ingredient.ingredient }}</td>
                <td>{{ ingredient.quantite }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>La pizza ne comporte aucun ingredient</h2>
    {% endif %}
    <br>
    <form action="/pizzas/{{pizza.idPizza}}/addIngredient/" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Envoyer">
    </form>
{% endblock %}